@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@600&family=Montserrat:wght@100&family=Playfair+Display:wght@800;900&display=swap');

:root {
  --Fred: "Fredoka", sans-serif;
}

* {
  font: 24px var(--Fred);
  color:rgb(74, 59, 208);
}

body {
  margin: 20px;
  background-color: rgb(181, 232, 204);
}

/* ol, ul {
  padding-left: 30px;
} */

li {
  list-style-type: none;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

button {
  border: none;
  margin: 5px;
}

.square {
  background: rgb(194, 153, 224);
  border: 5px solid rgb(74, 59, 208);
  border-radius: 25px;
  float: left;
  font-size: 100px;
  font-weight: bold;
  line-height: 34px;
  height: 200px;
  width: 200px;
  /* margin-right: 10px;
  margin-top: 10px; */
  padding: 0;
  text-align: center;
  
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.history {
  border-radius: 20px;
  padding: 10px;
}